<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TESTBAG.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Sunny_MCU_Setting_2022.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TESTBAG.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <applicationSettings>
    <TESTBAG.Properties.Settings>
      <setting name="RollingSize_VoltageDc" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="RollingSize_MovingAverageVoltageDc" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="RollingSize_CurrentDc" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="RollingSize_VoltageAc" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="RollingSize_CurrentAc" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="RollingSize_MaxValueLowCharge" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="RollingSize_MinValueLowCharge" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="RollingSize_MaxValueHighCharge" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="RollingSize_MinValueHighCharge" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="RollingSize_MaxValueCurrentConstant" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="RollingSize_MinValueCurrentConstant" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="RollingSize_MaxValueCutOff" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="RollingSize_MinValueCutOff" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="HTTP_SSID" serializeAs="String">
        <value>SunnySSID</value>
      </setting>
      <setting name="HTTP_Password" serializeAs="String">
        <value>admin123</value>
      </setting>
    </TESTBAG.Properties.Settings>
    <Sunny_MCU_Setting_2022.Properties.Settings>
      <setting name="STATION_CODE" serializeAs="String">
        <value>DEV00</value>
      </setting>
    </Sunny_MCU_Setting_2022.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="TaiyouSenpuBagEntities4" connectionString="metadata=&quot;res://*/Data Management.Database.DataSunny.csdl|res://*/Data Management.Database.DataSunny.ssdl|res://*/Data Management.Database.DataSunny.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;data source=NEO\SQLEXPRESS01;initial catalog=TaiyouSenpuBag;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <TESTBAG.Properties.Settings>
      <setting name="UDP_Port" serializeAs="String">
        <value>8080</value>
      </setting>
    </TESTBAG.Properties.Settings>
  </userSettings>
</configuration>