USE [master]
GO
/****** Object:  Database [TaiyouSenpuBag]    Script Date: 16/6/2566 15:47:18 ******/
CREATE DATABASE [TaiyouSenpuBag]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TaiyouSenpuBag', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\TaiyouSenpuBag.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TaiyouSenpuBag_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\TaiyouSenpuBag_log.ldf' , SIZE = 270336KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TaiyouSenpuBag].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TaiyouSenpuBag]
GO
/****** Object:  Table [dbo].[Calibration]    Script Date: 16/6/2566 15:47:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calibration](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Calibrate_Name] [nvarchar](50) NULL,
	[Calibrate_Value] [float] NULL,
 CONSTRAINT [PK_Calibration] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MASTER_SPECIFICATIONS]    Script Date: 16/6/2566 15:47:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASTER_SPECIFICATIONS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PRODUCT_ID] [int] NULL,
	[MEASUREMENT_NAME] [nvarchar](40) NULL,
	[STAGE_TEXT] [nvarchar](40) NULL,
	[MAX_VALUE] [float] NULL,
	[PREFERRED_VALUE] [float] NULL,
	[MIN_VALUE] [float] NULL,
 CONSTRAINT [PK_MASTER_SPECIFICATIONS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEASUREMENT_PRODUCT]    Script Date: 16/6/2566 15:47:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEASUREMENT_PRODUCT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PRODUCT_ID] [int] NULL,
	[SERIAL_NUMBER] [varchar](50) NULL,
	[LOT_NUMBER] [varchar](50) NULL,
	[MFG_DATE] [smalldatetime] NULL,
	[MEASURE_DATE_TIME] [smalldatetime] NULL,
	[NG_LIST] [varchar](20) NULL,
	[CREATE_BY] [nvarchar](150) NULL,
	[JOB_NUMBER] [nvarchar](100) NULL,
	[COMMENT] [nvarchar](1000) NULL,
 CONSTRAINT [PK_MEASUREMENT_PRODUCT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT]    Script Date: 16/6/2566 15:47:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT](
	[ID] [int] IDENTITY(101,1) NOT NULL,
	[PRODUCT_GRUOP] [varchar](50) NULL,
	[SERIES] [varchar](50) NULL,
	[MODEL] [varchar](50) NULL,
	[BATTERY_TYPE] [varchar](50) NULL,
	[BATTERY_CAPACITY] [varchar](50) NULL,
	[CREATE_DATE_TIME] [datetime] NULL,
	[IS_DEACTICATED] [bit] NULL,
 CONSTRAINT [PK_PRODUCT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RAW_MEASUREMENT]    Script Date: 16/6/2566 15:47:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RAW_MEASUREMENT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MEASUREMENT_ID] [int] NULL,
	[TOTAL_SECONDS] [float] NULL,
	[MEASUREMENT_NAME] [nvarchar](40) NULL,
	[MEASUREMENT_VALUE] [float] NULL,
 CONSTRAINT [PK_RAW_MEASUREMENT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MASTER_SPECIFICATIONS]  WITH CHECK ADD  CONSTRAINT [FK_MASTER_SPECIFICATIONS_PRODUCT] FOREIGN KEY([PRODUCT_ID])
REFERENCES [dbo].[PRODUCT] ([ID])
GO
ALTER TABLE [dbo].[MASTER_SPECIFICATIONS] CHECK CONSTRAINT [FK_MASTER_SPECIFICATIONS_PRODUCT]
GO
USE [master]
GO
